[2015-06-12 18:14] pcmoore opened #1 "RFE: add basic golint/gofmt/govet checking"
It would be nice to add basic support for the various golang static analysis and formatting tools, similar to what we have in the main libseccomp library, e.g. "make check", "make check-syntax", etc.

[2015-09-10 17:32] meihuabo opened #2 "BUG: mismatched types C.uint32_t and C.uint on older gcc versions"
[code]

server info:

[code]

issue in runc   [mismatched types C.uint32_t and C.uint](https://github.com/opencontainers/runc/issues/256)

[2015-09-12 07:24] meihuabo commented on #2
[code]

i run this code on different server and get different result：
[code]
[code]

[2015-09-12 18:26] meihuabo commented on #2
resolve it:
[https://github.com/golang/go/issues/12599](https://github.com/golang/go/issues/12599)
my C complier gcc(4.6.3) is too old

[2015-09-14 17:52] mheon commented on #2
Glad to hear this was resolved - I was having difficulty replicating the failure. Probably worth adding something to the readme about GCC and Golang versions that we can build against.

[2015-09-14 22:30] pcmoore commented on #2
I'm going to reopen this so we don't forget it, I agree with @mheon that we should document our version dependencies.  @mheon or @meihuabo, do either of you want to draft patch for the readme?

[2015-09-15 16:29] meihuabo commented on #2
I also agree with @mheon
I will try different gcc and go combination  to find the minimum version to install libseccomp-golang

[2015-09-15 16:31] pcmoore commented on #2
Great, thanks for the help!

[2015-09-15 16:43] mheon commented on #2
The earliest version I've personally verified on is Ubuntu 14.04's Golang 1.2.1 and GCC 4.8.4. GCC <= 4.6 seems to cause the issue indicated here. Would be interesting to see if GCC 4.7.x works.

[2015-09-24 17:05] meihuabo commented on #2
I've verified GCC 4.6.4 and it works
But I encountered som difficulties when setting up to GCC 4.6.x environment
still working on the environment

[2015-11-15 02:11] jessfraz opened #4 "Q: release tagging"
it looks nicer when we vendor into docker/docker, no rush just wondering :)

[2015-11-18 16:44] mheon commented on #4
Planning on cutting a new release of the bindings soon, to coincide with a planned release of libseccomp itself --- can probably tag the bindings once that happens. We do need to figure out a version format for the bindings, though - @pcmoore, thoughts on that?

[2015-11-18 17:20] pcmoore commented on #4
I'm focusing on getting some things fixed in the main libseccomp library first so we can get that release out the door.  See here: https://groups.google.com/forum/#!topic/libseccomp/v6Sx3rObG5A

My initial thinking is to keep the version format/numbering the same as the main libseccomp release to keep things consistent - any objections?

[2015-11-18 17:22] pcmoore opened #5 "RFE: add CHANGELOG and SUBMITTING_PATCHES"
Additional documentation to help guide the libseccomp golang bindings, borrow heavily from the main project.

[2015-11-18 17:23] mheon commented on #4
Sounds good to me, though there might eventually be need for another version field if we need multiple versions of the bindings for a single library version (if, say, we had a bug in the 2.2.3 bindings and needed a new bindings release, I'd want to distinguish them as 2.2.3.1 or similar).

[2015-11-18 17:24] pcmoore commented on #4
Yep, sounds good to me.

[2015-11-18 17:27] mheon commented on #5
We should also consider adding some simple documentation and examples to the README, as sort of a "Getting Started Guide" for the bindings. I can definitely see about adding this and a changelog; SUBMITTING_PATCHES sounds like it could reasonably be copied directly from the main repository

[2015-11-18 17:51] pcmoore commented on #5
Yes, I'm going to be copying the SUBMITTING_PATCHES file from the main repo and making few, if any changes.  I'll also create the CHANGELOG in the same format as the main repo, starting with this upcoming release.

As for README additions, if you want to add some text, that would be great!  Feel free to add another issue specifically for that if you want to track it on Github.

[2016-03-11 22:13] pcmoore opened #7 "RFE: add support for MIPS/PPC/s390 to the golang bindings"
As requested by Phil Estes along with a patch:

 * https://groups.google.com/forum/#!topic/libseccomp/JXRvNsdGGPw

[2016-05-24 16:31] estesp commented on #7
Now that it looks like the main C lib is up to v2.3.1, is there any chance some of these changes can get into the Go bindings and a release can be cut?  Thanks!

[2016-05-24 20:04] pcmoore commented on #7
Merged in 60c9953736798c4a04e90d0f3da2f933d44fd4c4, thanks for your patience!

[2016-05-24 20:04] #7 closed

[2016-05-25 19:51] pcmoore opened #9 "RFE: add support for parisc/parisc64"
We have parisc[64] support in the main libseccomp repository and it is scheduled for the v2.4 release.

[2016-05-30 17:08] michael-holzheu commented on #7
I am no expert for libseccomp-golang, but aren't changes for `seccomp_internal.go` missing to be complete?

Something like the following (untested) patch: 2e378814b62dc4af74259914a29c5621bb91c744

[2016-05-31 09:12] michael-holzheu commented on #7
In case I am right, for your convenience, I created PR #10.

[2016-05-31 09:17] michael-holzheu commented on #7
ping @tophj-ibm

[2016-05-31 18:37] pcmoore commented on #7
PR #10 merged via 32f571b70023028bd57d9288c20efbcb237f3ce0.

[2016-07-18 09:13] mYmNeo opened #11 "RFE: runtime version detection"
From #938(https://github.com/opencontainers/runc/issues/938)
There are three variables called verMajor, verMinor, verMicro to identify the version of libseccomp library, but they are fixed after building.If we upgrading the libseccomp library, the binary can not detect the new version.Should we change the detection fix mode to runtime mode such as using pkg --modversion libseccomp

[2016-07-18 13:08] pcmoore commented on #11
@mYmNeo I have no idea what to what project #938 refers; I'm going to guess Docker or something similar; for reference please update this with a link to the project/issue.

Regarding the runtime version detection, we probably want to make use of the new seccomp_version() API in the base libseccomp library, we've talked a little about this in PR https://github.com/seccomp/libseccomp-golang/pull/6.

[2016-07-18 15:03] mheon commented on #11
The issue with using runtime detection, specifically in the case of Docker, is that it's a new function, and Docker wants to link against a great many versions of the library. Right now, the situation is definitely not ideal (Docker uses the featureset of whatever version of the library it compiles against, which can lead to passing unrecognized constants into the library - like, say, SCMP_ARCH_S3

[2016-07-18 16:26] mYmNeo commented on #11
@mheon Yes, this issue is about a sub-project called opencontainers/runc which is related to Docker. I just suffered from the wrong version detection.:disappointed:

[2016-11-22 20:50] thorduri commented on #2
Would a blurb like the following (on top of #14 -- I'm loathe to add it directly now) suffice to close this issue ?

[code]

Adding a "supported" blurb is harder, as there are currently no tests for that (yet).

[2016-11-22 21:34] pcmoore commented on #2
@mheon what do you think of @thorduri's suggestion?

[2016-11-22 21:49] mheon commented on #2
@pcmoore Sounds fine here. I don't anticipate many people still on this combination, as even LTS distros like Debian and RHEL have moved past Go 1.2, but it's good to cover our bases.

[2016-11-23 08:51] thorduri commented on #2
@mheon It has probably less to do with the go version, then the packaged / distributed libseccomp though.

I'll submit a PR with that blurb when #14 gets merged.

I'd love to see the PRs/Issues that are attached to the v2.3 milestone dealt with, and then see #4 implemented -- and maintaining "tagging" parity with libseccomp (I have a similar peeve with vendoring the package).

Anything I can do sp

[2016-11-23 17:10] pcmoore commented on #2
@thorduri I apologize that I'm not clearing the libseccomp issues/PRs very quickly, especially when it comes to the golang bindings.  I'm hopeful that I will be able to spend more time on these as we get close to the end of the year, but at the moment the audit and SELinux kernel work is dominating my time.

Thanks for your interest and patches, I really do appreciate the help!

[2016-11-23 17:50] thorduri commented on #2
@pcmoore No problem!

[2016-12-02 15:13] thorduri opened #17 "RFE: set the SCMP_FLTATR_CTL_TSYNC by default in the golang bindings"
Hi,

Due to the way the `go` runtime works (right off the bat on starts a handful of threads),
calling `SetTsync(true)` in `Load()` might reduce surprises for the package users.

Further, as a golang programmer, you have no control over thread creation / destruction or
scheduling (there are nuances here, but generally) so this doesn't map very well.

I'd go further, and suggest the API for setting

[2016-12-02 15:48] pcmoore commented on #17
This seems perfectly reasonable to me, and isn't likely to cause a problem with any existing libseccomp-golang users due to the thread awareness limitations of Go.  @mheon what do you think?

[2016-12-02 16:16] mheon commented on #17
General idea sounds fine here. You'd need to ignore potential error returns (library 2.1.x won't have the appropriate flag) when setting it in `Load` which is annoying --- it'd be nice if there were a way to identify that the flag was not set because of a too-early library version. Of course, we don't check if we're running on a kernel with `tsync` support anyways, so it's not that different from

[2016-12-02 16:30] pcmoore commented on #17
@thorduri @mheon okay, who wants to code this up into a patch/PR? ;)

[2016-12-02 17:44] thorduri commented on #17
@pcmoore I can handle that.

However I think https://github.com/seccomp/libseccomp-golang/pull/15 would need to be merged first to address the issue pointed out by @mheon -- I've only verified libseccomp 2.3.1, however earlier versions might work (need to double check).

FWIW, docker et al, seem to "ship" 2.3.1, see e.g. [here](https://github.com/docker/docker/blob/master/Dockerfile#L112).

@mheon

[2016-12-02 17:54] mheon commented on #17
@thorduri I wouldn't bother gating on the kernel. Perhaps a note in the documentation somewhere wouldn't be amiss, though. A note that we automatically enable tsync, but only if kernel and libseccomp are of sufficient version.

[2016-12-02 22:03] pcmoore commented on #17
You can always just call seccomp_attr_set(SCMP_FLTATR_CTL_TSYNC) and if it succeeds then everything is okay, if not, well it's not supported :)

[2016-12-02 22:30] mheon commented on #17
That's what we'll have to do. My concern is that we can't easily report that back to the calling application if we throw this in `Load`. Reporting an actual error is probably too heavy-handed (it did succeed, just without tsync), logging a warning is of questionable utility given the caller may have set up alternate logging infrastructure that the default Golang `log` package won't interact with.

[2016-12-02 22:43] pcmoore commented on #17
Considering the fact that golang abstracts/hides threads, perhaps this isn't something we really need to worry about.

However, I might suggest attempting to set TSYNC immediately after calling seccomp_init() and not waiting until seccomp_load().  This way any golang callers that care deeply about this can query the TSYNC attribute via seccomp_attr_get() after creating a filter to see if it succee

[2016-12-03 13:46] thorduri commented on #17
The problem as I see it, is that without TSYNC the package doesn't do what it claims to on the tin.

Consider the following snippet (larger example [here](https://gist.github.com/thorduri/d66685860e7bafd93e573c53a36ef497)):
[code]

Failing to call (or not having support for) `SetTsync(true)` has a spectacular failure case, the call will succeed if the go routine that serves is not run on the same

[2016-12-03 20:32] mheon commented on #17
I agree with your points - with the way Golang handles threads, not using `tsync` where available is just going to lead to misconfigurations which lead people to believe they're protected when there's a good chance they're not. The Docker usecase doesn't really feel this pain (Seccomp filters there are primarily to confine containers, not Docker itself - we configure/load the filters immediately b

[2016-12-04 09:53] thorduri commented on #17
@mheon Thanks for the explanation!

As to raising the requirement, I think its the right thing to do, and since docker does vendor in the bindings it will not cause a surprise downstream breakage (and v2.2.0 will soon be two years old...).

[2016-12-16 23:08] pcmoore commented on #11
Fixed via e929b20e6658475be1134f17e29d755c676823c6, if you notice any additional problems please re-open this issue.  Thanks!

[2016-12-16 23:08] #11 closed

[2016-12-16 23:48] pcmoore commented on #2
@thorduri I hope you don't mind, I went ahead and added some text to the README via ab55783446ad1ca5c740040f73ee629fe113521e, does this look okay to you?

[2016-12-16 23:50] pcmoore commented on #1
Fixed via 206feef4a24ce01a8773f6aa37e92922172de726.

[2016-12-16 23:50] #1 closed

[2016-12-17 00:02] pcmoore commented on #5
Initial SUBMITTING_PATCHES file included via e3fd4d5f3aa40536a0445fe20f81a69e26a50144.

[2016-12-17 00:33] pcmoore commented on #5
Initial CHANGELOG file included via fb54829376a9be85613c7a184695f21275a3f668.

[2016-12-17 00:33] #5 closed

[2016-12-20 19:50] pcmoore commented on #2
Based on the thumbs-up, I'm going to consider this resolved and close this issue.  Thanks all!

[2016-12-20 19:50] #2 closed

[2016-12-20 19:53] pcmoore commented on #4
@mheon I've given this some more thought and wonder if matching the main libseccomp version numbers might be a mistake.  As you pointed out, it seems very likely that we will need to iterate the two packages independently of each other.  Any idea what other golang bindings do?

[2016-12-21 02:44] pcmoore commented on #4
@jessfraz Since you're the reporter here, any opinions on how best to handle versioning of golang projects such as this which are just bindings to libraries written in other languages?  How do most projects handle this today: independent version numbers or sync with the main project?

[2017-01-03 15:40] mheon commented on #4
Sorry for the delay here, I'll try and find some time to take a look into this today.

[2017-01-03 17:09] pcmoore commented on #4
No worries, it really is just a question regarding the version numbers for the golang bindings.  We've got most of the pressing issues sorted such that I'm comfortable tagging a release, I'm just waffling a bit on the most golang-y approach.

[2017-01-04 08:12] thorduri commented on #4
@pcmoore

Can you expand on this this point ?

My two cents:
Matching the `seccomp` versions feels strange off the top of my head as the bindings support multiple versions of `seccomp` -- and if the bindings need a bump (for whatever reason) it can
easily become messy.

[2017-01-04 13:07] pcmoore commented on #4
To be clear, when I say waffling, I mean waffling on the version number for the golang bindings (see my above comments).  I would prefer to stay consistent with other golang bindings (the reason for my "golang-y" comment above).

[2017-01-04 20:16] mheon commented on #4
After some research, it appears that the majority of bindings version themselves independently of the libraries themselves, though there is a sizable fraction that do tag things relative to the main library like we were doing previously.

[2017-01-05 02:03] pcmoore commented on #4
@mheon Thanks for the follow-up; it looks like independent versioning is the Right Thing To Do.  Now, the next question: with the golang bindings in use for some time now, how happy are you with the API?  Are you comfortable enough to tag this as v1.0.0, or do you think we should stick with something less than 1.0 to give us some wiggle room in case the binding's API needs to change?

[2017-01-05 02:12] mheon commented on #4
I think we have one remaining sticking point in the API, that being the suggestion from @thorduri to make TSync default and remove the set function associated with it. I don't think we should tag a 1.0 without getting that sorted. Everything else is unlikely to change significantly, though.

[2017-01-05 11:37] thorduri commented on #4
@pcmoore, @mheon tagging v1.0.0 after resolving #18 (I can update it to remove the functions, rather then leaving the stubs) would make me a happy camper indeed.

It *will* set the minimum required version to 2.2.0 -- but I think usage of the bindings is inherently dangerous without it, so should not be supported.

[2017-01-05 21:37] pcmoore opened #19 "Q: review libseccomp-golang API for v1.0 release"
This issue is simply a placeholder/tracking issue to cover a review of the entire libseccomp-golang API prior to the v1.0 release.

[2017-01-05 21:42] pcmoore commented on #4
Thanks for the input everyone.

I'm going to go ahead and tag the current code as v0.9.0 simply so we have a tag for developers to reference and we can work towards getting everything ready/reviewed for a v1.0.0 release.

[2017-01-05 21:48] pcmoore commented on #4
Closing this with commit e3496e3a417d1dc9ecdceca5af2513271fed37a0 and tag v0.9.0.

[2017-01-05 21:48] #4 closed

[2017-03-11 02:50] dvusboy opened #20 "BUG: version checking does not work for executable linked against the shared library"
For `go` binaries that uses shared library, e.g. `docker-runc`. The version checking really doesn't work. From the look of things, the version is determined at compile time via the header file `seccomp.h`. So, we have a situation where a [published Docker 1.13 RPM](http://download.opensuse.org/repositories/Virtualization:/containers/openSUSE_Leap_42.1/x86_64/docker-1.13.0-182.1.x86_64.rpm) probabl

[2017-03-11 02:55] dvusboy commented on #20
I think the check should be made against the values returned by `seccomp_version()` call.

[2017-03-11 02:57] mheon commented on #20
That would solve the problem, but would completely remove the ability to use the bindings with `libseccomp` v2.2.x and earlier (as those don't have the `seccomp_version()` call). At present, there are still some major distributions (Debian stable, and it appears Suse as well?) still shipping v2.1.x, so we've held off on this. I agree that it is definitely the way forward, though.

[2017-03-11 03:21] dvusboy commented on #20
Thanks for the quick response!

Here's my argument for fixing it now:

[seccomp_internal.go:303](https://github.com/seccomp/libseccomp-golang/blob/master/seccomp_internal.go#L303)

This is the check that's causing me headache. The user cannot resolve it by updating the library because this check will always fail when the binary is built against `libseccomp` v2.1.x. What should've happened is that

[2017-03-11 03:32] mheon commented on #20
I'd agree that allowing users to compile against a version of the library that produces a defective binary is a worse than forcing a version upgrade. There was some discussion around a minimum version bump in #17 (though that was only to v2.2.x instead of v2.3.0), and I was (and still am) in favor of it. There are a lot of compromises involved in allowing too-low versions of the library - removing

[2017-03-11 05:56] dvusboy commented on #20
I can give the PR a try. I can also file an issue with Docker referencing this. There is a workaround of disabling `seccomp` with unconfined access. The alternative would be to statically link the library in their build until they've updated to newer `libseccomp-golang`, which would also force an upgrade to `libseccomp`. Unfortunately, Ubuntu 16.04 is still on 2.2.3. So, yes, it'd be a hard sale.

[2017-04-19 19:56] mheon opened #22 "BUG: Handling of multiple syscall arguments incorrect"
Issue originally identified at https://github.com/moby/moby/issues/32714

Presently, when adding a rule with multiple syscall arguments, we add each argument separately with a separate call to `seccomp_rule_add_array` and a single syscall specified. This produces an OR relationship between the arguments - IE, we will match if any of the arguments match.

However, using `libseccomp` directly, addin

[2017-04-19 19:56] mheon commented on #22
I'm working on a fix for this, and hope to have it in ASAP

[2017-04-22 22:35] Freeaqingme opened #23 "BUG: 'SCMP_MAJOR_VERSION' undeclared"
When I use the latest commit, I get these errors while building my application. If I use e3496e3a417d1dc9ecdceca5af2513271fed37a0 there's no problem whatsoever.

<pre>github.com/seccomp/libseccomp-golang
src/github.com/seccomp/libseccomp-golang/seccomp_internal.go: In function 'get_major_version':
src/github.com/seccomp/libseccomp-golang/seccomp_internal.go:141:29: error: 'SCMP_MAJOR_VERSION' unde

[2017-04-22 22:38] mheon commented on #23
I have a patch which (should) fix this - can you pull from https://github.com/mheon/libseccomp-golang branch tsync_and_bugfix and verify that the issue is fixed?

[2017-04-22 22:52] mheon commented on #20
Fixed by commit 9814e55a2e59df39b8ad4fbff1226585ebb84674

[2017-04-22 22:52] #20 closed

[2017-04-23 12:50] Freeaqingme commented on #23
Thanks @mheon using that branch fixes the compilation problem, so it would seem like an appropriate fix for this issue.

I have not, however, been able to test it entirely (not on e3496e3 either). For some reason the call to C.seccomp_load(f.filterCtx) blocks and appears to hang indefinitely. I guess that warrants a separate issue(?).

[2017-04-23 13:04] mheon commented on #23
@Freeaqingme Yeah, a new issue sounds appropriate for that. I'll see about getting the bugfix patches merged on Monday, and close this issue when they've landed. The `seccomp_load` issue seems separate and should be tracked elsewhere. When you create the issue, can you give some details of your environment (distribution, kernel version, CPU architecture)? Thanks in advance.

[2017-04-25 20:56] mheon commented on #22
Fixed by 06e7a29f36a34b8cf419aeb87b979ee508e58f9e

[2017-04-25 20:56] #22 closed

[2017-04-25 20:57] mheon commented on #23
Fixed by 84e90a91acea0f4e51e62bc1a75de18b1fc0790f

[2017-04-25 20:57] #23 closed

[2017-05-02 14:33] rogers0 opened #24 "BUG: Unit test fails on x86 platform"
Debian version has an issue that unit test fails on x86:

checked the code:
  err = syscall.Setreuid(uid, euid)
and err seems to be nil, not the expected syscall.Errno(2)
On x64 (amd64) platoform, this cannot be reproduced.

See Debian BTS: https://bugs.debian.org/860618

[2017-05-02 14:44] mheon commented on #24
This looks similar to a bug that was fixed in `libseccomp` v2.2.1. Are you building for Debian stable? If so, I believe you're still on a version of `libseccomp` early enough for that bug to appear... but then again, there are compile-time checks to make sure that specific combination cannot build.

I'll look into this more this afternoon.

[2017-05-02 14:47] rogers0 commented on #24
@mheon yes, for debian stretch, the next stable.
now stretch has been frozen, which means we can only patch current version, but cannot update to your latest release.
if you can provide a backport patch to fix the unit test issue on x86, it'd be appreciated!
thank you!

[2017-05-02 14:56] mheon commented on #24
Stretch should be too new to see that specific bug, as it ships v2.3.1, so this is probably a bug in the bindings.

The Git snapshot you're using is a little old and missing most of the recent work that has gone in, so hopefully it's just a matter of applying one or two of those newer patches. There was a significant bugfix patch last week that might be related (06e7a29f36a34b8cf419aeb87b979ee508e

[2017-05-02 15:18] rogers0 commented on #24
@mheon thanks for your prompting response!

I tried cherry-pick 06e7a29, and build in git-pbuilder, the result is the same as before.
I guess maybe we need to cherry-pick more commits ...

[2017-05-02 15:26] mheon commented on #24
Could be unrelated to that bug, then. It's interesting that it's 32-bit only. I begin to suspect it's the syscall being used in the test - maybe a behavior difference between 32 and 64 bit versions that glibc abstracts away but Go's standard library doesn't.

[2017-05-02 15:36] mheon commented on #24
I have verified that this issue still exists in up-to-date master. I'll look into the cause now and see about getting it patched.

[2017-05-02 16:24] mheon commented on #24
I've replicated the result in C (calling directly into `libseccomp` without using the `libseccomp-golang` bindings). This appears to be a bug in `libseccomp` itself. I'll file it upstream there.

[2017-05-02 16:30] rogers0 commented on #24
@mheon thanks for your info!

[2017-05-05 10:36] rogers0 commented on #24
@mheon reading the #84 issue of seccomp/libseccomp, though I'm quite sure, I feel this may be fixable without touching libseccomp. So is there a patch for golang bindings? Thank you!

[2017-05-05 12:56] mheon commented on #24
@rogers0 Sorry for the delay on this one. You're correct, it looks to be an error in the test suite for the bindings. I have a test patch available at https://github.com/mheon/libseccomp-golang branch `test-failure-32bit`, commit b03f1efc22b3aaae017d9985efbc7a4c801951eb - can you verify this resolves the issue? If it does, I'll get it merged into master.

[2017-05-06 03:45] rogers0 commented on #24
@mheon Thanks for your patch!
I confirm it fixes the build on i386. I already make the debian release, and now is waiting for sponsor to upload to debian archive.

[2017-05-06 03:45] #24 closed

[2017-05-14 02:22] rogers0 opened #25 "BUG: Unit test TestRuleAddAndLoad fails on armhf"
Debian version 0.0~git20150813.0.1b506fc-2 already applied https://github.com/seccomp/libseccomp-golang/commit/b03f1efc22b3aaae017d9985efbc7a4c801951eb, so issues on i386 got resolved. Thanks for help!

However, I find that version still fails on armhf:
  https://tests.reproducible-builds.org/debian/rbuild/testing/armhf/golang-github-seccomp-libseccomp-golang_0.0~git20150813.0.1b506fc-2.rbuild.log

[2017-05-14 14:09] mheon commented on #25
I suspect that this is just another error in the test suite, though the EINVAL on filter load is interesting and different from what was happening before. I'll give it a look on Monday.

[2017-05-18 19:50] mheon commented on #25
Sorry for the delay on this one, had issues getting a working ARM environment. I can't reproduce on Debian Testing RC3 armhf. I've tried both master, and the tree you're using (1b506fc plus b03f1ef). It looks like it could be an environment issue of some sort. Is there a collection of details on how the builders Debian uses are configured?

[2017-05-24 13:57] rogers0 commented on #25
@mheon I don't have armhf box, so I cannot confirm commands below.
(but it confirmed to occur on reproducible build and DoM building environment)
based on my experience of other golang packages in Debian, build command is like:

[code]

[2017-10-13 13:36] guoh1988 opened #30 "BUG: "AUDIT_ARCH_MIPSEL64" undeclared here (not in a function)"
os:linux arch:mips golang :1.7.5
1.yum install libseccomp-devel-2.3.1-3
2.gi clong github.com/seccomp/libseccomp-golang
3.cd github.com/seccomp/libseccomp-golang && go build -v
error
seccomp_internal.go "AUDIT_ARCH_MIPSEL64" undeclared here (not in a function)
const uint32_t C_ARCH_MIPSEL64     = SCMP_ARCH_MIPSEL64;

[2017-10-13 14:08] mheon commented on #30
This is properly strange. libseccomp v2.3.1 should have the `SCMP_ARCH_MIPSEL64` define in `seccomp.h`. What Linux distribution are you using, so I can attempt to replicate your environment?

[2017-10-14 01:33] guoh1988 commented on #30
1.It's "AUDIT_ARCH_MIPSEL64", not "SCMP_ARCH_MIPSEL64.""
2. I can't find define "AUDIT_ARCH_MIPSEL64" in seccomp.h
/* MIPS64N32 support was merged in 3.15 */
#ifndef AUDIT_ARCH_MIPS64N32
#define AUDIT_ARCH_MIPS64N32	(EM_MIPS|__AUDIT_ARCH_64BIT|\
				 __AUDIT_ARCH_CONVENTION_MIPS64_N32)
#endif
/* MIPSEL64N32 support was merged in 3.15 */
#ifndef AUDIT_ARCH_MIPSEL64N32
#define AUDIT_ARCH_MIPSEL64N32

[2017-10-16 14:14] mheon commented on #30
@guoh1988 Can you give details on your kernel? I'm wondering if it might be a version prior to support for MIPS auditing being merged.

@pcmoore I'm thinking that if AUDIT_ARCH_MIPSEL64 is missing, bad things should be happening with `libseccomp` itself as well -  potentially failures to build? Thoughts?

[2017-10-17 20:44] pcmoore commented on #30
Interesting.

The `AUDIT_ARCH_MIPSEL64` definition in /usr/include/linux/audit.h has been around since 2005, see Linux commit 2fd6f58ba6ef ("[AUDIT] Don't allow ptrace to fool auditing, log arch of audited syscalls.").  As a reminder, the first release of libseccomp was back in [2015](https://github.com/seccomp/libseccomp/releases/tag/v0.1.0).

Considering that the `AUDIT_ARCH_MIPSEL64` definition

[2017-12-06 11:37] jiangtao9999 commented on #30
There was not MIPSEL64 ,but MIPS64EL in /usr/include/linux/audit.h ......

[root@localhost BUILD]# grep AUDIT_ARCH_MIPSEL64 /usr/include/linux/audit.h
[root@localhost BUILD]# grep AUDIT_ARCH_MIPS64EL /usr/include/linux/audit.h
#define AUDIT_ARCH_MIPS64EL     (EM_MIPS|__AUDIT_ARCH_64BIT|__AUDIT_ARCH_LE)
#define AUDIT_ARCH_MIPS64EL_N32 (EM_MIPS|__AUDIT_ARCH_ALT|__AUDIT_ARCH_LE)
[root@localhost BUILD

[2017-12-08 05:42] guoh1988 commented on #30
[root@localhost linux]# grep AUDIT_ARCH_MIPSEL64 /usr/include/linux/audit.h
#define AUDIT_ARCH_MIPSEL64     (EM_MIPS|__AUDIT_ARCH_64BIT|__AUDIT_ARCH_LE)
[root@localhost linux]# cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core)
but fedora 21 can't find AUDIT_ARCH_MIPSEL64 loongson3A
Can you tell me which RPM package audit.h is in

[2017-12-10 15:47] jiangtao9999 commented on #30
[root@localhost /]# rpm -q --whatprovides  /usr/include/linux/audit.h
kernel-headers-4.4.30-1.fc21.loongson.mips64el
[root@localhost /]#

BUT !

[root@localhost ~]# grep AUDIT_ARCH_MIPS64EL /usr/include/linux/audit.h
[root@localhost ~]# grep AUDIT_ARCH_MIPSEL64 /usr/include/linux/audit.h
#define AUDIT_ARCH_MIPSEL64     (EM_MIPS|__AUDIT_ARCH_64BIT|__AUDIT_ARCH_LE)
#define AUDIT_ARCH_MIPSEL64N32  (E

[2017-12-10 15:55] jiangtao9999 commented on #30
In that rpm:
http://ftp.loongnix.org/os/loongnix/1.0/kernel/RPMS/Packages/kernel-headers-4.4.30-1.fc21.loongson.mips64el.rpm
audit.h has that:
#define AUDIT_ARCH_MIPSEL64	(EM_MIPS|__AUDIT_ARCH_64BIT|__AUDIT_ARCH_LE)

??????? What happend ?????

[2017-12-10 16:25] jiangtao9999 commented on #30
I known.....

In kernel-headers-3.10.84-17.fc21.loongson.mips64el.rpm
got in http://ftp.loongnix.org/os/loongnix/1.0/os/Packages/k/kernel-headers-3.10.84-17.fc21.loongson.mips64el.rpm

audit.h have that
#define AUDIT_ARCH_MIPS64EL	(EM_MIPS|__AUDIT_ARCH_64BIT|__AUDIT_ARCH_LE)

New kernel is changed it . I was upgraded the kernel in 4 days ago .
I forgot.

[2017-12-10 17:51] mheon commented on #30
Sorry for the delayed response it's been a busy week. It seems like this is an issue with the newer kernel you installed, then? Can you file a bug against the kernel package, as missing this define seems like a significant bug

[2017-12-11 15:18] jiangtao9999 commented on #30
I think it is not an issue . New kernel have the correct define.

But libseccomp defined
 AUDIT_ARCH_MIPS
 AUDIT_ARCH_MIPS64
 AUDIT_ARCH_MIPS64N32
 AUDIT_ARCH_MIPSEL64N32
Not defined
 AUDIT_ARCH_MIPSEL
 AUDIT_ARCH_MIPSEL64
in seccomp.h

It is batter to add EL & EL64 .
If kernel does not defined , these define will keep work fine .

--- libseccomp-2.3.2/include/seccomp.h.in.orig  2017-12-11 15:10:0

[2017-12-11 15:23] jiangtao9999 commented on #30
`--- libseccomp-2.3.2/include/seccomp.h.in.orig	2017-12-11 15:10:06.000000000 +0000
+++ libseccomp-2.3.2/include/seccomp.h.in	2017-12-11 15:11:18.000000000 +0000
@@ -149,9 +149,15 @@
 #ifndef AUDIT_ARCH_MIPS
 #define AUDIT_ARCH_MIPS		(EM_MIPS)
 #endif
+#ifndef AUDIT_ARCH_MIPSEL
+#define AUDIT_ARCH_MIPSEL      (EM_MIPS|__AUDIT_ARCH_LE)
+#endif
 #ifndef AUDIT_ARCH_MIPS64
 #define AUDIT_ARCH_MIPS64	(

[2017-12-11 19:48] pcmoore commented on #30
Two thoughts:

1. Do these older kernels even provide seccomp-bpf support?  You mention EL64 which I assume is CENTOS/RHEL-6.4 and seccomp-bpf is definitely not supported there.

2. This isn't specific to the libseccomp-golang bindings is it?  Should this be entered against the main libseccomp repository?  Although see question 1 before reassigning to libseccomp.

[2017-12-12 06:03] #30 closed

[2019-01-18 14:04] rogers0 commented on #25
latest debian version 0.9.0-1 rebuild well one all platforms, including armhf:
- https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/golang-github-seccomp-libseccomp-golang.html

So I close this ticket.
Thank you!

[2019-01-18 14:04] #25 closed

[2019-03-07 04:33] bobrik opened #31 "Add a list of syscalls required for normal go operation"
Go runtime requires some syscalls for normal operation (like `mmap` for memory allocation).

It seems like it's better to provide a list from the library rather than make developers guess.

At least the following are required:

[code]

[2019-03-07 04:55] mheon commented on #31
Add to that list `gettid` and `sched_getaffinity` at a minimum, probably `nanosleep` and `getpid`. If you're using any of the Golang concurrency primitives you probably hit a `sched_yield` or two as well.

[2019-03-07 05:03] bobrik commented on #31
Yes, my list is for a tiny program that doesn't do much.

I'm not sure if `nanosleep` needs to be explicitly allowed. I followed [this example](https://blog.heroku.com/applying-seccomp-filters-on-go-binaries) and without whitelisting `nanosleep` I can still see it allowed in `strace`.

[2019-03-07 05:10] mheon commented on #31
I'm fairly certain Go uses it internally in the runtime for scheduling Goroutines, so while you can probably get away without it for trivial programs, I wouldn't recommend leaving it out.

(I'm also quite certain blacklisting it does block it - I used it extensively as a testcase while developing the bindings. Very easy to call fork off a `sleep` and see whether it takes milliseconds or seconds to

[2019-04-24 16:37] jdstrand commented on #22
Distributions who package snapd but use distribution packaging for the current upstream golang-seccomp release (0.9.0) hit this issue (see https://bugs.launchpad.net/snapd/+bug/1825052). I suggest producing a new release with this fix (eg 0.9.1) so downstreams can more easily pull in the patch.

Since golang-seccomp is meant to be a golang package to facilitate reducing the syscall surface for app

[2019-04-24 16:48] mheon commented on #22
I think a 0.9.1 is appropriate to cut, both because of this and the handling for the 2.4.x library series' new features.

[2019-04-24 17:33] jdstrand commented on #22
Thanks! And yeah, 2.4.1 is *much* better with arg filtering :)

[2019-04-24 18:50] pcmoore commented on #22
@jdstrand thanks!

@mheon if/when a CVE is assigned for this, please make sure this issue is update with the CVE information.  I would suggest adding the CVE number to the issue title and adding a link in the comments. See https://github.com/seccomp/libseccomp/issues/139 as an example.

[2019-04-24 18:51] mheon commented on #22
@pcmoore Ack, SGTM

[2019-04-25 17:20] jdstrand commented on #22
This is CVE-2017-18367. Reference: https://www.openwall.com/lists/oss-security/2019/04/24/3

[2019-04-25 17:23] pcmoore opened #32 "RFE: create a new minor release for the 0.9.x release stream"
A new release is needed for the 0.9.x release stream to address CVE-2017-18367, see https://github.com/seccomp/libseccomp-golang/issues/22 for more information.

[2019-04-25 17:24] pcmoore commented on #32
FYI @jdstrand

[2019-04-25 17:25] mheon commented on #32
@pcmoore I'll hit you by email later today to ask about how you handle the process in the upstream library so I can replicate here. Had a few critical bugs sneak up today, so it could be delayed until Friday/Monday.

[2019-04-25 17:27] pcmoore commented on #32
No problem, let me know how I can help you with the release.

If it helps, the main libseccomp release process is documented at the link below:
* https://github.com/seccomp/libseccomp/blob/master/doc/admin/RELEASE_PROCESS.md

[2019-05-21 20:36] joelschopp commented on #32
Both the fix for the CVE and the ActLog stuff is helpful to me, but it is annoying to pin to a git hash in master.  Happy to do a release or two if it's a matter of time.

[2019-05-21 20:53] pcmoore commented on #32
@mheon how is it going?

[2019-05-21 21:03] mheon commented on #32
Let me get this done right now, before something else manages to creep up on me

[2019-05-21 21:34] mheon commented on #32
v0.9.1 tag has been created

[2019-05-21 22:21] pcmoore commented on #32
Thanks @mheon.  You might consider creating a GitHub "Release" using the v0.9.1 tag and adding some release notes (e.g. a basic changelog).
* https://github.com/seccomp/libseccomp-golang/releases

[2019-05-22 14:59] mheon commented on #32
Updated Github release info. I'm going to close this as such, but feel free to reopen if anyone spots anything about the release that needs fixing (changelog formatting, etc)

[2019-05-22 14:59] #32 closed

[2019-08-22 12:52] hazelnutsgz opened #33 "Does Docker(Moby) still utilize libeseccomp-golang?"
In the latest version of [Docker](https://github.com/moby/moby), I found that the only occurrence of `libseccomp-golang` is `GetNativeArch()` https://github.com/moby/moby/blob/cfeba5af9ec522565fb527a78d97081cbb75ce8f/profiles/seccomp/seccomp.go#L66,

I was wondering whether the other APIs like
`func (f *ScmpFilter) Load() error`
`func (f *ScmpFilter) AddRule(call ScmpSyscall, action ScmpAction) er

[2019-08-22 13:24] mheon commented on #33
Most Seccomp code lives in the OCI runtime - by default, `runc` (github.com/opencontainers/runc). You'll find a lot more uses of `libseccomp` there.

[2019-08-22 14:22] hazelnutsgz commented on #33
In fact, the tricky thing here is that the code in official `runc` (https://github.com/opencontainers/runc/tree/master/libcontainer/seccomp) is different from the corresponding `libcontainer` in moby(https://github.com/moby/moby/tree/master/vendor/github.com/opencontainers/runc/libcontainer)

Technically, the `seccomp` folder was purged in moby project, that is what puzzled me.

[2019-08-22 14:24] mheon commented on #33
That's just a vendor folder - `github.com/moby/moby` is using `github.com/opencontainers/runc` as a library, but is not using most of the Seccomp portions.

The vendored `runc` code in `github.com/moby/moby` is not used to launch containers. A `runc` binary, built directly from `github.com/opencontainers/runc`, will be invoked directly to do that.

[2019-08-22 14:27] hazelnutsgz commented on #33
Thanks, forgive my naive understanding of Golang, really appreciated your help. You can close the issue.

[2019-08-22 14:28] #33 closed

[2019-09-29 01:17] Hannnnnn opened #34 "Q: how to use string condition in AddRuleConditional()"
Hello,
I was trying to add a string condition in AddRuleConditional(). ( allow a system call if path parameter is matched.)
However I found it is tricky.
I ever use C code in Golang to cover string into uint64 but it does not work.
I wonder what is the correct way to use string condition ?
Thank you.

[2019-11-13 21:04] pjbgf commented on #31
I have recently built a tool that goes through the execution path of go applications and extract all syscalls it finds. On this source code:

[code]

this is what it extracts:
[code]

here's how to use it:
[code]

[2019-11-14 22:50] pcmoore commented on #34
Hi @Hannnnnn,

Unfortunately the seccomp code in the kernel is not capable of dereferencing pointers, which makes it impossible to do string comparisons with seccomp.  I'm going to close this out as there is nothing we can do in userspace to fix this.

[2019-11-14 22:50] #34 closed

[2020-03-12 12:50] pcmoore opened #36 "ADMIN: change maintainers of the libseccomp-golang project"
With @mheon stepping down (see [this comment](https://github.com/seccomp/libseccomp-golang/pull/35#issuecomment-582433868) in PR #35) let's shift maintenance of the the libseccomp golang bindings to @drakenclimber and myself.  The checklist below is a work in progress (expect it to be edited while this issue remains open) but should be used to guide this work.

Work Items:

- [x] Ensure @drakencli

[2020-03-12 12:57] pcmoore commented on #36
@drakenclimber I know we talked briefly about this over email a while back, but I'm roping you into this now like it or not :)  It's probably a good thing as it will mean tighter integration between the bindings and the main library, but it does mean we will need to get a bit more versed in golang (also not an entirely bad thing).

Comments are welcome, but objections to your new role will be igno

[2020-03-12 13:01] pcmoore commented on #36
Regarding docs, we should update the existing README (also convert it to Markdown), SUBMITTING_PATCHES (Markdown conversion, rename to CONTRIBUTING.md so the GH magic works better) and add in a SECURITY.md and doc/admin/MAINTAINER_PROCESS.md and doc/admin/RELEASE_PROCESS.md.

The main libseccomp docs should be a good starting point, but those docs will need to be re-examined in the context of gola

[2020-03-12 13:07] pcmoore opened #37 "RFE: ensure parity with the current libseccomp release"
The libseccomp golang bindings have lagged the main libseccomp release for some time now.  Before the next release of the bindings we need to go through and ensure that all of the main libseccomp functionality (e.g. ABI support, new APIs, etc.) that makes sense in golang is supported in the golang bindings.

[2020-03-12 13:12] pcmoore opened #38 "RFE: enable Travis CI testing"
We should setup some form of integration with Travis CI as soon as possible.  Even if we don't have any tests to run we should at least ensure the bindings build, there are no `gofmt` or `golint` problems, etc.

[2020-03-12 14:02] drakenclimber commented on #36
Sounds good.  I can help with the update.

Your checklist looks like a really good starting point.

[2020-03-12 15:25] drakenclimber commented on #36
I have some time until my next meeting.  I'll start working on converting the README to markdown.

[2020-03-13 01:01] pcmoore opened #40 "RFE: evaluate README.md"
Compare the golang binding's README.md with the main libseccomp README.md to see if any additional edits should be made to the golang's README.md.  Whenever possible we should try to remove redundancy between the two, using the main libseccomp README.md as the main reference.

[2020-03-14 00:11] #38 closed

[2020-03-14 00:21] pcmoore opened #43 "BUG: fix problems found via "make lint""
A number of problems were found when running "make lint" (running `golint`) on HEAD 4387a10873b9fbdef54045302e182e76e1105d76:
[code]

[2020-03-14 00:23] pcmoore opened #44 "RFE: add "make lint" to the Travis CI tests"
Once we have "make lint" running clean, we should add it to the Travis CI tests.  See issue #43 for the "make lint" bug tracker.

[2020-03-23 15:23] pcmoore commented on #44
Resolved with PR #45.

[2020-03-23 15:23] #44 closed

[2020-03-23 15:23] pcmoore commented on #43
Resolved with PR #45.

[2020-03-23 15:23] #43 closed

[2020-04-18 19:04] gsauthof commented on #31
A default list would certainly be useful since to come up with one isn't trivial.

Just running the program under strace and collecting the observed syscalls isn't sufficient.

In my experience, even running the program with the same input several times in a row gives a different sets of syscalls, e.g. `mprotect` and `set_robust_list` don't necessarily turn up always.

And then there are non-regul

[2020-05-25 12:37] KentaTada opened #47 "RFE: Add support for SCMP_FLTATR_CTL_SSB"
runc needs to use SCMP_FLTATR_CTL_SSB in https://github.com/opencontainers/runc/issues/2430 to make bytecode interpreters including Ruby and Python faster when users can disable mitigation.

[2020-05-25 13:22] KentaTada commented on #47
`SCMP_FLTATR_CTL_SSB` was not included in the release of libseccomp v2.4.3.
So, we need to wait for the next release of libseccomp at first.

[2020-05-27 13:14] pcmoore commented on #47
Adding the `pending/libseccomp` label to indicate this is dependent on a new libseccomp release (v2.5.0).

[2020-06-16 00:02] pcmoore opened #48 "BUG: rename the "master" branch to "main" #255"
Similar to [PR #246](https://github.com/seccomp/libseccomp/pull/246) we need to change the name of the "master" branch to "main", or similar.  This is quite easy, and via a branch rename, it can be done without losing any of the git history; there is no good reason to *not* do this.

The steps are simple:
1. Rename the local git repostory: `git branch -m master main`
2. Push the "main" branch to G

[2020-07-05 12:33] debfx opened #49 "BUG: documented CompareMaskedEqual value order incorrect"
The libseccomp-golang documentation says:

[code]

However the libseccomp man page has:

[code]

This suggests that the mask is the first value, not the second.

[2020-07-05 12:57] pcmoore commented on #49
Thanks @debfx.  We're busy at the moment trying to get libseccomp v2.5.0 released but the gloang bindings are going to be an area of focus after that release.

[2020-07-21 06:12] KentaTada commented on #47
I'll try to implement this feature if this priority is low.

[2020-07-21 14:41] pcmoore commented on #47
Thanks @KentaTada, help is always appreciated.

FWIW, now that core libseccomp v2.5.0 has been released @drakenclimber and I are going to try and spend some more time cleaning up the golang bindings.

[2020-07-22 09:51] KentaTada commented on #47
@pcmoore  Thanks!
I created https://github.com/seccomp/libseccomp-golang/pull/51

[2020-07-23 07:41] KentaTada opened #52 "RFE: add support for RISCV64"
Next release of libseccomp-golang  v0.9.2 should support RISCV64 because libseccomp v2.5.0 has already supported it.

[2020-07-23 09:12] KentaTada commented on #52
Before this issue, we need to finish https://github.com/seccomp/libseccomp-golang/issues/9
So, I created the below pull request at first.
https://github.com/seccomp/libseccomp-golang/pull/53

[2020-08-11 16:02] yvesf opened #54 "Q: Is there a way to handle SIGSYS/ActTrap in go code?"
It seems currently it's not possible to handle the signal by `ActTrap` seccomp action in go.

As the kernel sets  si_code to SYS_SECCOMP (=1), go will dispatch the signal to `signal.Notify` if it is set to SI_USER (=0). (see runtime/signal_unix.go in sighandler(), SIGSYS is also not flagged as Notify in sigtab_linux_generic.c).

I created a small demo where I also can override `siginfo.si_code` to

[2020-08-12 00:40] pcmoore commented on #54
Hi @yvesf, I don't have an answer for you right now, but @drakenclimber and myself will be spending a bit more time with the libseccomp golang bindings in the near future; hopefully we will be able to answer your question better at that point in time.

If you do find a better answer, please let us know!

[2020-08-20 19:02] saschagrunert opened #55 "Q: cut a new release"
Hey maintainers :wave:, may I ask you to cut a new release that we can utilize the new types in the repository?

[2020-08-20 19:11] pcmoore commented on #55
FYI, we are tracking the releases with GH milestones, the next release is being tracked with the milestone below:
* https://github.com/seccomp/libseccomp-golang/milestone/3

The quickest way to get a new release out would be to take one of those issues and provide a PR, or take one of the existing PRs and help review it.  Although in the interest of full-disclosure the maintainers are pretty busy

[2020-08-20 19:11] pcmoore commented on #55
Since this was a request/question and it was answered above, I'm going to go ahead and close this issue.

[2020-08-20 19:11] #55 closed

[2020-08-20 19:52] pcmoore commented on #55
No problem, sorry it wasn't quite the answer you were looking for, but at least it should provide a roadmap and an easy way to check the status.

[2020-08-20 19:58] saschagrunert commented on #55
Oh I'm also happy to contribute to this project as well. I'll triage the open milestone issues in the next weeks :+1:

[2020-08-20 20:29] drakenclimber commented on #55
My apologies as well.  Unfortunately the libseccomp-golang project continues to be on my I'll-get-to-that-soon list :(.

Any help you can offer would be greatly appreciated.  Thanks in advance!

[2020-08-24 12:23] saschagrunert opened #56 "RFE: add seccomp notifier support"
I saw that libseccomp 2.5.0 added 6 new notifier APIs:
[code]
Referring to https://github.com/seccomp/libseccomp-golang/issues/37, I think it would make sense to add the binding and structures to this project, too. I could take care of the implementation/testing if you want. WDYT?

[2020-08-24 12:33] pcmoore commented on #56
PRs are always welcome :)

[2020-11-06 04:07] pcmoore opened #60 "BUG: look into replacing Travis CI with GitHub actions"
There are plenty of articles on this, but see The Register article below for some background on this issue:

* https://www.theregister.com/2020/11/02/travis_ci_pricng

With Travis CI becoming potentially unreliable for libseccomp, we should investigate moving out CI testing to GitHub actions:

* https://docs.github.com/en/free-pro-team@latest/actions

[2020-11-06 14:07] drakenclimber commented on #60
Good find.  I have been running into issues with libcgroup running on TravisCI as well.  I'm very interested in this issue.

[2020-11-06 14:51] pcmoore commented on #60
Yes, I think most folks are starting to see problems with Travis CI.  I *think* we should be able to move to GH actions without too much problem but I haven't looked just yet, I may start playing with it this weekend depending on how things go around here.

With the main libseccomp v2.5.x releases stabilizing, we also need to start working through some of the issue/PR backlog here in the Go bindin

[2020-11-28 17:38] zhsj opened #61 "BUG: test failure on ppc64le"
[code]

https://github.com/seccomp/libseccomp-golang/blob/847368b35ebf24980814276c545776d22f66d71e/seccomp_test.go#L586-L588

The pid on ppc64le is `1`, don't know why it's not minus..

libseccomp is 2.5.0, and libseccomp-golang is head version.

[2020-12-02 00:31] pcmoore commented on #61
Hi @zhsj, thanks for the report, I'm sorry for the delay in responding.

Unfortunately I don't have a ppc64le system to test this, would you be able to debug this further?  @drakenclimber and I may be able to help guide the debugging if needed ...

[2020-12-02 04:19] zhsj commented on #61
Thanks, I do need some guides since I don't know much about it.

From my observation, seccomp is effected in this test, since syscall.Getpid returns `1` instead of the real pid. But I can't tell why it's `1` instead of `-1`.

In https://github.com/seccomp/libseccomp-golang/blob/847368b35ebf24980814276c545776d22f66d71e/seccomp_test.go#L553

It says to return `0x1`. If changing it to `0x2`, then on

[2020-12-02 15:36] pcmoore commented on #61
Hmm, the difference between ppc64le and x86-64 is interesting.  Any chance you could try a similar filter using the native/C libseccomp API?  I'm curious if this is an oddity in the kernel/libc or if the filter is somehow to blame.

The C based filter should be trivial, but if you are not comfortable writing one let me know and we can provide a simple test program to compile and run.

[2020-12-02 16:33] zhsj commented on #61
[code]

[2020-12-02 16:42] zhsj commented on #61
Tried with libseccomp master, same result.

[2020-12-10 02:52] pcmoore commented on #61
Hi @zhsj.  First let me apologize for the delay in responding - things have been busy.

I tried your reproducer on my x86_64 system and run into the same result as you (on your x86_64 tests):
[code]

I'll have to take a look and get back to you on this, it definitely looks to be like a problem in the main libseccomp code base.

@drakenclimber have you seen anything like this?

[2020-12-10 03:06] pcmoore commented on #61
FWIW, I see similar results on x86_64 with the `openat()` syscall.

I'm beginning to wonder if this is simply a difference in the seccomp handling for each architecture; x86_64 returns the errno value negated whereas ppc64le doesn't negate the errno value.  More investigation is needed.

[2020-12-14 15:32] drakenclimber commented on #61
I haven't, but I will look into it this week.

[2020-12-14 19:29] drakenclimber commented on #61
I happened to have access to an s390x machine, so I ran the above test program on it.  Looks like s390x behaves like x86_64.  It's feeling like a ppc64le-specific issue to me.

[code]

[2020-12-14 21:44] drakenclimber commented on #61
Ewww....

I dug up my old account to some IBM ppc cloud boxes.  On RHEL8, I saw the same behavior @zhsj reported in https://github.com/seccomp/libseccomp-golang/issues/61#issuecomment-737346374 above.  But I had troubles with IBM's yum repos - I couldn't get gperf installed - so I destroyed the VM.

Here's what I saw on an RHEL7 ppc64le box.

[code]

[2020-12-14 21:48] drakenclimber commented on #61
And for completeness, it behaved the same with the head of master in libseccomp

[code]

[2021-01-22 20:06] drakenclimber commented on #61
I spent some more time on this today.  It looks like libseccomp and seccomp in the kernel are doing the right thing.

On my RHEL8.3 ppc64le box, I again ran the example C program in this [comment](https://github.com/seccomp/libseccomp-golang/issues/61#issuecomment-737346374).

Kernel info
[code]

Then I attached a bpftrace script to the output of [seccomp_run_filters()](https://git.kernel.org/pub/

[2021-01-22 21:56] pcmoore commented on #48
See https://github.com/seccomp/libseccomp/issues/255 in the main libseccomp repository.  I expect the same process should work here without problem, but let's give the main repo a few days to make sure everything went smoothly before we make the change here as well.

[2021-01-22 22:05] pcmoore commented on #61
It almost looks like the libc is changing the sign on the errno on ppc64le, or am I missing something?

If that is the case (libc munging the errno), I'm not sure we want to change libseccomp as different libc implementations could do different things and I'm not sure how we would detect that at runtime.  Perhaps this is just a note in the docs?

[2021-01-22 22:30] drakenclimber commented on #61
I think that's a reasonable guess, but I didn't have time to track it down to that.  The kernel code flow in ppc64le is straightforward.

`seccomp_run_filters()` ran the BPF and generated 0x50001.
`syscall_set_return_value()` is an arch-specific function, and in this example on ppc64le, it correctly set gpr[3] to -1.
After that, nothing in the ppc64le kernel syscall stack modified gpr[3] as best a

[2021-01-22 23:49] drakenclimber commented on #61
Good call on ppc64le's libc.  I updated the test program as follows.  (Note the `syscall()` call instead of `getpid()`).

[code]
And the results once it's run.
[code]

I think a documentation note is the right answer.

[2021-01-25 15:08] drakenclimber commented on #61
I opened a libseccomp documentation issue to track this.

[2021-01-25 20:10] drakenclimber commented on #54
I looked into this issue a little bit this morning.

I agree, the `info->si_code = 0;` [line](https://gist.github.com/yvesf/aa72d055cdaefa25a976ed2a7f86ef3b#file-main-go-L16) really stinks, but that seems like a golang issue and not a seccomp or seccomp-golang issue.

For me anyway, the actual signal handler itself behaved just as it would in C.  I didn't experience the nonblocking behavior you ou

[2021-03-06 00:02] pcmoore commented on #48
Everything worked out reasonably well and without any big surprises when we made the change to the main libseccomp repo, so let's do this ...

[2021-03-06 00:14] #48 closed

[2021-04-20 02:19] KentaTada commented on #47
https://github.com/seccomp/libseccomp-golang/pull/51 has been already merged.

[2021-04-20 02:19] #47 closed

[2021-05-05 17:43] AkihiroSuda commented on #56
https://github.com/seccomp/libseccomp-golang/commit/78c92cbc6966350c27f365890f4cd47ebb934594 was merged, can we get v0.9.2 soon? 🙏

[2021-05-05 18:24] pcmoore commented on #56
When all of the items in the v0.9.2 milestone are resolved we will tag a new release.
* https://github.com/seccomp/libseccomp-golang/milestone/3

[2021-05-05 18:24] pcmoore commented on #56
As was pointed out above, this issue should now be resolved; closing this issue.

[2021-05-05 18:24] #56 closed

[2021-07-30 21:30] edelkind commented on #56
Before v0.9.2 comes out, is there a good reason that "Notif" is used everywhere instead of "Notify"?  It only saves one letter, and it plays tricks on one's mind while using it.  It also doesn't seem very "go"-esque.  @pcmoore - I'm happy to make this change if it's deemed acceptable.

[2021-08-03 03:21] kolyshkin commented on #37
What are some features that are not implemented in here, compared to the C library?

I was only able to find `SCMP_FLTATR_CTL_OPTIMIZE` support which seems to be trivial to add. Is there anything else?

[2021-08-19 15:32] kolyshkin commented on #60
PTAL #65.

[2021-08-19 15:39] rata commented on #37
@kolyshkin I don't have a comprehensive list. One item comes to mind, though: the seccomp notify addfd functionality is not implemented in golang, but IIRC it is in the C library.

[2021-09-10 19:21] drakenclimber opened #68 "BUG: Replace TravisCI Badge with Github Actions Badge"

[2021-09-10 19:50] drakenclimber commented on #60
Merged via commit https://github.com/seccomp/libseccomp-golang/commit/e5b1e63fb25d704a39b9079d758824587f31a5f2 and others.  CI is passing [here](https://github.com/seccomp/libseccomp-golang/runs/3570811836).

[2021-09-10 19:50] #60 closed

[2021-09-10 19:50] kolyshkin commented on #68
This should show the latest status for main branch:
[![validate](https://github.com/seccomp/libseccomp-golang/actions/workflows/validate.yml/badge.svg)](https://github.com/seccomp/libseccomp-golang/actions/workflows/validate.yml) [![test](https://github.com/seccomp/libseccomp-golang/actions/workflows/test.yml/badge.svg)](https://github.com/seccomp/libseccomp-golang/actions/workflows/test.yml)

[2021-09-11 06:05] KentaTada commented on #52
https://github.com/seccomp/libseccomp-golang/pull/63 was closed.
Thanks everyone!

[2021-09-11 06:05] #52 closed

[2021-09-13 15:53] kolyshkin commented on #36
This item is actually already DONE (#46 / commit 3c63c277); please check it.

[2021-09-13 21:15] drakenclimber opened #71 "RFE: add release process document"
We should create a document that outlines the release process.  I have found the [libseccomp](https://github.com/seccomp/libseccomp/blob/main/doc/admin/RELEASE_PROCESS.md) one to be useful.

Also, if we end up merging the test matrix from Pull Request https://github.com/seccomp/libseccomp-golang/pull/70, we need to add a step to the release document to update the test matrix in [.github/workflows/

[2021-09-14 00:08] kolyshkin commented on #40
This is partially addressed by #69; frankly, I don't know what else to remove from there. An introductory paragraph about libseccomp seems very relevant and provide needed keywords for search engines. Other than that, it's all links to the docs.

[2021-09-14 18:36] drakenclimber commented on #71
Oops.  This is a duplicate of https://github.com/seccomp/libseccomp-golang/issues/36.  I'll add the above comment about updating the test matrix to that issue.

[2021-09-14 18:36] #71 closed

[2021-09-15 22:13] kolyshkin commented on #37
@pcmoore PTAL https://github.com/seccomp/libseccomp-golang/issues/37#issuecomment-891488113. Can we have a list of features that need to be added?

[2021-09-17 02:02] pcmoore commented on #37
Well, the reason I wrote "... we need to go through and ensure that all of the main libseccomp functionality ..." is that at the time no one had done a gap analysis between the main library and the golang bindings.  It looks like @kolyshkin may have now done that, at least to some degree; if not, a good place to start is the main seccomp.h header file.
* https://github.com/seccomp/libseccomp/blob/

[2021-09-17 15:20] pcmoore commented on #68
Closing this out as it is resolved.

[2021-09-17 15:20] #68 closed

[2021-09-17 15:21] pcmoore commented on #40
I think @kolyshkin's updates are enough to close this out, if anything remains we can address it via a new issue.  Thanks for your help @kolyshkin!

[2021-09-17 15:21] #40 closed

[2021-09-17 15:22] pcmoore commented on #36
At this point I think we've done a basic triage of the outstanding issues (NOTE: we've *triaged* them, not *resolved* them) so I'm marking that as done.

[2021-09-17 15:24] pcmoore commented on #9
Resolved via PR #53.

[2021-09-17 15:24] #9 closed

[2021-09-17 18:56] drakenclimber commented on #37
Agreed.  Unfortunately we dug ourselves a small hole when we added new features to libseccomp proper but didn't add corresponding RFE issues to libseccomp-golang.

But once we're caught up, this should be manageable now that we're all aware of the problem.

[2021-09-18 19:02] kolyshkin commented on #37
I have a WIP implementation of `SCMP_FLTATR_API_SYSRAWRC` and `SCMP_FLTATR_CTL_OPTIMIZE` support, which I'll finalize and open a PR for as soon as the existing PRs (#70, #72, #74) are approved and merged, as otherwise there will be conflicting hunks.

[2021-09-22 11:41] xnox opened #76 "Q: please cut a 0.9.1.1 release with RISC-V support"
v0.9.2 milestore is not ready yet, but there is riscv64 support in master, can you please bump v0.9.2 milestone work to v0.9.3 and release v0.9.2 already as is? or like tag and release v0.9.1.1? it would help a lot with riscv64 bootstrapping.

[2021-09-22 13:55] pcmoore commented on #76
Hi @xnox,

I understand that RISC-V support is very important to you, but we are making good progress towards the v0.9.2 release and I would rather see our efforts go towards finishing that than making a v0.9.1.1 release.

[2021-09-22 13:55] #76 closed

[2021-10-29 21:53] kolyshkin commented on #37
For the sake of completeness, here it is: https://github.com/seccomp/libseccomp-golang/pull/75

Is there anything else that's missing from this package, compared to the C library?

[2021-10-29 22:23] kolyshkin commented on #54
@drakenclimber @yvesf so, should this be closed as we're unable to reproduce it?

[2021-11-15 20:39] tonideleo opened #82 "Q: Ubuntu 20.04 with installed libseccomp-dev libraries"
While trying to install singularity I get this error:

[code]
Any way to make it work? I am so puzzled!

[2021-11-22 17:38] kolyshkin commented on #17
@pcmoore @drakenclimber I apologize for mentioning you, but can you please take a look -- I beleive that as per previous comment, this issue can be closed.

I'm only looking at it because it's in v0.9.2 milestone, and I very much like v0.9.2 to be released, since the current situation where all libcseccomp-golang users have to rely on an unreleased version is not acceptable.

[2021-11-22 17:39] kolyshkin commented on #49
@pcmoore @drakenclimber I believe this one is being fixed by #81.

[2021-11-22 17:45] kolyshkin commented on #37
@pcmoore @drakenclimber as per previous comment, I need some help identifying the gaps that have yet to be filled. Does not need to be elaborate and/or precise -- a quick bullet point list will do.

[2021-11-30 20:55] drakenclimber commented on #82
What version of libseccomp do you have installed on your Ubuntu 20.04 box?
[code]

[2021-11-30 21:21] drakenclimber commented on #17
I agreed.  Looks like we've resolved this issue and it can be closed.  It only took five years :)

[2021-11-30 22:53] drakenclimber commented on #54
Yes, I believe so.  @yvesf, feel free to reopen this issue if new information is available.  Thanks, all.

[2021-11-30 22:53] #54 closed

[2021-12-01 02:58] kolyshkin commented on #17
For the sake of completeness -- this was actually fixed in April 2017 by commit fc0298087f328ac97a1fa781392de96b2ebb8aac.

@drakenclimber seems you forgot to close this.

[2021-12-27 21:56] pcmoore commented on #49
Fixed in #81

[2021-12-27 21:56] #49 closed

[2022-01-03 15:59] #17 closed

[2022-01-05 20:33] pcmoore opened #83 "BUG: missing security policy"
We should add a documented security policy, similar to the main libseccomp security policy.

* https://github.com/seccomp/libseccomp/security/policy
* https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository

[2022-01-28 02:38] #83 closed

[2022-02-02 00:06] pcmoore commented on #82
Since it has been over two months with no response from the reporter I'm going to close this out, feel free to reopen if needed.

[2022-02-02 00:06] #82 closed

[2022-02-10 18:14] pcmoore opened #87 "ADMIN: add Kir Kolyshkin as a maintainer"
We (@pcmoore and @drakenclimber) have asked @kolyshkin if he would like to join the libseccomp-goland project as a co-maintainer and he graciously agreed (thanks Kir!).  This issue is intended to track all of the different things we need to do to ensure Kir is setup properly as a maintainer for the libseccomp-golang bindings.

*NOTE: the list items below are subject to change based on the discussi

[2022-02-10 18:15] pcmoore commented on #87
@drakenclimber and @kolyshkin, please suggest any edits or new list items for the checklist above.

... and thanks again @kolyshkin for agreeing to help out!

[2022-02-11 02:06] utam0k opened #88 "Q: enable seccomp notify for API level 5, linux kernel 5.6 and below"
Hi, seccomp team. First of all, Thanks for maintaining a great library.

As the title says, is it possible to make seccomp notify available for API level 5, linux kernel 5.6 and below?
I think it would be possible by providing an interface to change the TSYNC settings.
https://github.com/seccomp/libseccomp-golang/commit/fc0298087f328ac97a1fa781392de96b2ebb8aac

If you don't mind, I'd like to tryit

[2022-02-20 22:19] quinnjr opened #89 "BUG: unable to compile on Archlinux"
Attempts to compile this library on Archlinux for using `snap` result in the following error:

[code]

The library does compile correctly in a clean chroot. The only thing I can really find different in my system versus a clean chroot is that I have CC/CXX set to Clang versus gcc.

[2022-02-22 20:42] kolyshkin commented on #89
I believe this is fixed by https://github.com/seccomp/libseccomp-golang/pull/85, which is currently being reviewed.

[2022-02-23 22:26] rata commented on #88
@utam0k when we added support for seccomp notify here, it was requested by @pcmoore to not provide that option. The original patch did support it, but it was considered that it is just too easy to misuse, so we removed it. See the discussion here: https://github.com/seccomp/libseccomp-golang/pull/59#discussion_r594013118

Just providing some context, I'll let the maintainers answer the question :)

[2022-02-24 00:00] pcmoore commented on #88
Hi @utam0k, @rata provided a good link back to our earlier discussions around this and I still stand by that decision.

There are some challenges here due to how golang manages threads as well as how the Linux Kernel initially implemented libseccomp notifications, and I believe the best we can do is withhold notification support on kernels that don't support libseccomp's API level 6.

If you *real

[2022-02-25 21:38] pcmoore commented on #88
I'm going to close this issue as I think my last response answers the question, but if you feel otherwise please go ahead and reopen this issue - thanks!

[2022-02-25 21:38] #88 closed

[2022-02-25 21:50] pcmoore commented on #36
I think one of the biggest outstanding items on our list now is the RELEASE_PROCESS.md doc; while we've now got a stub in the repo, it's pretty useless.  With golang being a bit different, I don't think a simple copy-n-paste is a good idea, but I think there are a few key ideas we can take from the core library's release process:

1. Verify that all issues assigned to the release milestone have be

[2022-02-27 12:11] utam0k commented on #88
@pcmoore @rata I'm sorry for my late reply. Thanks for your comments. I got it.

[2022-03-07 19:18] drakenclimber commented on #36
This looks reasonable to me.

I would love to hear this as well.

Can't think of anything.

[2022-03-07 21:44] kolyshkin commented on #36
Yes. It's totally fine to have branches and we do so in a number of projects, e.g. runc, where we use `release-x.y` branches for backports. Go does not impose any rules on branch naming. What matters is versioning (i.e. tags).

PS I am silent because I am on vacation for the most of March.

[2022-03-07 22:26] pcmoore commented on #36
Thanks for the info, it seems like the core libseccomp model of branches/tags would fit here quite well so we might as well stick with that.

Enjoy your time away, and feel free to ignore us until you get back! ;)

[2022-03-07 22:27] pcmoore commented on #36
Now that we have this sorted out a bit more, I'll work on putting together a RELEASE_PROCESS.md draft in a PR and we can discuss the process further there.

[2022-05-06 19:09] pcmoore commented on #87
Removed the mailing list item from the list above as the mailing list has been deprecated.

[2022-05-06 19:15] pcmoore commented on #89
With #85 merged, any chance @quinnjr that you can verify that the current main branch solved your problem?

[2022-05-06 20:36] kolyshkin commented on #87
I have an RSA2048 key (which is probably not good enough these days but I'm lazy), see e.g.
https://keyserver.ubuntu.com/pks/lookup?op=vindex&search=0x17de5ecb75a1100e

I took a look and the only place I see to which my name can/should be added is SECURITY.md. Here's a PR: https://github.com/seccomp/libseccomp-golang/pull/93

[2022-05-08 14:15] quinnjr commented on #89
No, still having the same issue with the switch statement.

[code]

[2022-05-08 17:26] pcmoore commented on #89
Hmm, I wonder if this is due to something related to snap?  On my current (as of May 8, 2022) Arch system with my libseccomp-golang repo sitting at f57e1d55ea18cbace22a9eefbd5e83417a2c1ace, I'm able to build and run the tests without problem.
[code]

@quinnjr are you able to fetch the current repo and successfully do a `make test` outside of a snap environment?

[2022-05-08 17:32] quinnjr commented on #89
Tests all are passing just using `make test`. Might just be a snap issue then.

[code]

[2022-05-08 20:12] pcmoore commented on #89
If I'm understanding snap's [go.mod](https://github.com/snapcore/snapd/blob/master/go.mod) correctly, it looks like they need to point to a more recent point in the repo as the revision they are referencing doesn't have the fix from #85.  @quinnjr I'm going to close this issue as I don't think there is anything else we can do from a libseccomp-golang perspective, but if you find that not to be the

[2022-05-08 20:12] #89 closed

[2022-05-09 07:22] bboozzoo commented on #89
I can reproduce this with the version of libseccomp-goland we're using in snapd and clang. Interestingly gcc does not complain. Anyways, I'll see if I can update the revision have we have in snapd.

[2022-05-09 13:44] pcmoore commented on #89
Thanks @bboozzoo.  FWIW, I just tried `CC=clang make test` on the current libseccomp-golang repo and it run clean, as expected.  I really believe it is simply an older version of libseccomp-golang that is causing the issue.  If you find there is a problem with the libseccomp-goland bindings, or if there is anything we can do to help resolve this on our end please comment/reopen.

Thanks.

[2022-05-09 14:49] pcmoore commented on #87
Right now we're not doing any tag/release signing, so *anything* is an improvement :)  I would encourage you to do all the usual PGP/GPG best practices, but right now I think just getting a process in place where we do the signing is a big step forward, regardless of the key size.

Thanks.  I'm working on the docs now, hopefully we can get all of these issues closed out this week.

[2022-05-09 14:55] pcmoore commented on #87
Oh, one more thing - if you upload your GPG key to GitHub (I see you did it at least once), it doesn't look like it strips the signatures like many other key servers (you can only upload your own key, so the 3rd party key poisoning danger isn't a real risk).

My key:
* https://github.com/pcmoore.gpg

[2022-05-12 01:48] kolyshkin commented on #87
https://github.com/kolyshkin.gpg, although it is not signed by anyone else but me. I guess we can have a nano key signing party some day...

[2022-05-13 20:46] pcmoore opened #95 "BUG: updated README.md to include the first signed release tag version"
Currently README.md references v0.9.2 as the first signed release of libseccomp-golang, but we may skip v0.9.2 in favor of 0.10.0.  If this happens the README.md file needs to be updated.

Related: https://github.com/seccomp/libseccomp-golang/pull/94#discussion_r870873421

[2022-05-13 20:49] pcmoore commented on #95
Resolved with aa8bb5532eb6ac0353c68bdbcd2b72dfcb1bff3a.

[2022-05-13 20:49] #95 closed

[2022-05-13 20:52] pcmoore commented on #87
@drakenclimber @kolyshkin I think we've now ticked all the boxes up top - aside from the final ACL setup.  Anyone think of anything else before I flip the switch?

[2022-05-13 21:13] drakenclimber commented on #87
I can't think of anything.  I think we're good to go

[2022-05-13 21:32] pcmoore commented on #87
Cool, let's do this.

Unfortunately as I was going to add @kolyshkin I realized that GH needs us to first "invite" him to the org.  Sigh.  I just sent the official invite and as soon as he accepts we should be all set.

[2022-05-19 21:31] kolyshkin commented on #87
Done

[2022-05-19 21:37] drakenclimber commented on #87
Congrats!

All bugs are now assigned to you :)

[2022-05-19 22:09] pcmoore commented on #87
Everything @drakenclimber already said, welcome @kolyshkin :)

[2022-05-19 22:09] #87 closed

[2022-05-19 22:15] pcmoore commented on #36
The only remaining item in this issue is "assess current milestones and release plans", and considering that we have the milestone tagging in place, a basic release process, and existing issues like #19 I think we can consider this item resolved.  Arguably, that item probably shouldn't have been a hard requirement on the maintainer switchover anyway; we've obviously managed to transfer the role fr

[2022-05-19 22:17] pcmoore commented on #37
As this is a larger undertaking, I'm wondering if we should move this to the v1.0.0 milestone so we don't hold up any of the v0.Y.Z releases?

[2022-05-19 23:17] kolyshkin commented on #36
Yes, I think this one can be closed.

[2022-05-19 23:18] kolyshkin commented on #37
👍🏻 👍🏻 Voting "yes" with both hands.

[2022-05-19 23:22] kolyshkin commented on #31
This is a moving target, meaning any new golang releases and/or Linux kernel releases can add more system calls.

[2022-05-27 20:14] pcmoore commented on #36
Done.

[2022-05-27 20:14] #36 closed

[2022-05-27 20:17] pcmoore commented on #31
I agree with @kolyshkin, trying to maintain a default list of syscalls is going to be extremely difficult.  *Maybe* someday we could revisit this idea, but at this point in time I think this needs to be a WONTFIX.

[2022-07-13 01:53] kolyshkin commented on #61
The test case still fails on PPC, thus reopening.

[2022-07-13 01:57] pcmoore commented on #61
As a quick FYI, this was the doc "fix" we applied in the main libseccomp project: https://github.com/seccomp/libseccomp/pull/333

[2022-07-13 01:58] pcmoore commented on #61
It may be that the best solution it to simply choose another syscall for the test.

[2022-07-13 01:59] kolyshkin commented on #61
Yes, that's what I've done in #100, PTAL

[2022-07-13 23:33] kolyshkin opened #101 "RFE: drop libseccomp < 2.5.0 support"
Currently, this library has a number of quirks and workarounds to work with older libseccomp. Some of these were removed by https://github.com/seccomp/libseccomp-golang/commit/449387b6d401d2ca8e231ae21e10ff5ef75ac86d.

Requiring libseccomp >= 2.5.0 should simplify some code.

Related: https://github.com/seccomp/libseccomp-golang/pull/99

[2022-07-15 11:41] rata commented on #101
@kolyshkin Don't we care about distros with older versions of libseccomp? For example, in runc we use that (and I know you are aware).

Were you thinking to do it once distros with older versions are unsupported? Or am I missing something?

[2022-07-29 01:34] pcmoore commented on #61
I just merged PR #100 so I'm going to mark this as closed, but if anyone still notices a problem feel free to comment/reopen.

[2022-07-29 01:34] #61 closed

[2022-07-29 01:35] pcmoore commented on #101
Distros are free to do whatever they like, but understand that from an upstream perspective we no longer support libseccomp < 2.5.x.